$base-space: 16px;

.mt-1{
    margin-top: $base-space;
}
.mt-5{
    margin-top: $base-space * 5;
}
.mb-1{
    margin-bottom: $base-space * 0.5;
}
.mb-2{
    margin-bottom: $base-space;
}
.mb-3{
    margin-bottom: $base-space *1.5;
}
.mb-4{
    margin-bottom: $base-space * 2;
}
.mb-5{
    margin-bottom: $base-space * 5;
}
.mb-6{
    margin-bottom: $base-space * 3;
}
.mb-9{
    margin-bottom: $base-space * 4.5;
}
.mr-6{
    margin-right: $base-space * 3;
}
.mr-2{
    margin-right: $base-space * 1;
}
.mr-1{
    margin-right: $base-space * 0.5;
}
.mx-2{
    margin: 0px 12px;
}
.pb-10{
    padding-bottom: $base-space * 5;
}
.ps-6{
    padding-left:32px;
}
.pt-7{
    padding-top: 40px;
}
.pt-6{
    padding-top: $base-space * 6;
}
.py-10{
    padding: $base-space * 10 0px;
}
.py-5{
    padding: $base-space * 5 0px;
}
.py-6{
    padding: $base-space * 3 0px;
}
.py-1{
    padding: $base-space * 0.5 0px;
}
.py-2{
    padding: $base-space 0px;
}
.py-3{
    padding: 12px 0px;
}
.p1{
    padding: 8px 8px;
}
.px-4{
    padding: 0px 16px;
}
.px-5{
    padding: 0px $base-space * 1.5;
}
.px-8{
    padding: 0px $base-space * 2;
}
.pl-1{
    padding-left: $base-space;
}
.pl-5{
    padding-left: 22px;
}
.pl-8{
    padding-left: $base-space * 2;
}
.gapX-3{
    gap:0px $base-space * 1.5;
  }
.w30{
    width: 30%;
}
.w50{
    width: 50%;
}
.w60{
    width: 66%;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}