<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
    <div class="box">
        <div class="sidebar w-25 ps-7">
            <div class="container">
                <div class="sidebarHeader ps-6">
                    <a href="#">
                        <picture>
                            <img class="pt-5" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week5/logo-ANSWER.svg" alt="">
                        </picture>
                    </a>
                
                </div>
                <div class="sidebarContent">
                    <ul class="ps-6">
                        <li>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    insert_chart
                                </span>
                                    Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    forum
                                </span>
                                    Question
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    assignment
                                </span>
                                    Assignment
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    video_library
                                </span>
                                    Course
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    group
                                </span>
                                    Admin
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    settings
                                </span>
                                    Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebarFooter ps-6">
                    <picture>
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="">
                    </picture>
                    <ul>
                        <li class="name">Andy Chen</li>
                        <li class="mail">andy0401@mail.com</li>
                    </ul>
    
                </div>
            </div>
            
        </div>
        <div class="content w-75">
            <div class="container">
                <%- contents %>
            </div>
        </div>
    </div>

  

  <!-- <div class="footer py-6">
    <div class="container">
        <div class="nav flex-between">
            <div class="contentNav flex align-center">
                <ul class="flex-between gapX-3">
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
            </div>
            <div class="mobilMedia ">
                <ul class="flex-between">
                    <li><a href="#"><img class="w50"src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt=""></a></li>
                    <li><a href="#"><img class="w50"src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></a></li>
                    <li><a href="#"><img class="w50"src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="mobile">
            <div class="mobilContactInfo mb-4">
                <h3 class="flex align-center font-light">
                    <span class="material-symbols-outlined">
                        call
                    </span>
                    <a  class="pl-5" href="tel:+">0800-000-000</a>
                </h3>
                <h3 class="flex align-center font-light">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <a class="pl-5" href="mailto:">glasses@business.com</a>
                </h3>  
            </div>
            <div class="media">
                <ul class="flex-between">
                    <li><a href="#"><img class="w50"src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt=""></a></li>
                    <li><a href="#"><img class="w50"src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></a></li>
                    <li><a href="#"><img class="w50"src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="contactInfo mb-4">
            <h3 class="flex align-center font-light">
                <span class="material-symbols-outlined">
                    call
                </span>
                <a  class="pl-5" href="tel:+">0800-000-000</a>
            </h3>
            <h3 class="flex align-center font-light">
                <span class="material-symbols-outlined">
                    mail
                </span>
                <a class="pl-5" href="mailto:">glasses@business.com</a>
            </h3>  
        </div>
        <div class="terms flex-between align-center">
            <h3 class="font-light">Copyright © 2020 Glasses.All rights reserved.</h3>
            <ul class="flex-between">
                <li class="mr-6"><a href="#">隱私權政策</a></li>
                <li ><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</div> -->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>

</html>
