@charset "UTF-8";
/* 圖片取代文字技巧 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* mac, IOS 系統字體 Windows 英文系統字  微軟正黑體 Android 系統字  IOS 系統字  通用字體 */
  /* sans-serif 全部通用買保險用   */
  font-size: 20px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.font-xs {
  font-size: 16px;
  line-height: 24px; }

.font-s {
  font-size: 36px;
  line-height: 54px; }

.font-m {
  font-size: 48px;
  line-height: 72px; }

.font-l {
  font-size: 64px;
  line-height: 96px; }

.font-bold {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mt-1 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 80px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 80px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-9 {
  margin-bottom: 72px; }

.mr-6 {
  margin-right: 48px; }

.mr-2 {
  margin-right: 16px; }

.mr-1 {
  margin-right: 8px; }

.mx-2 {
  margin: 0px 12px; }

.pb-10 {
  padding-bottom: 80px; }

.pt-6 {
  padding-top: 96px; }

.py-10 {
  padding: 160px 0px; }

.py-5 {
  padding: 80px 0px; }

.py-6 {
  padding: 48px 0px; }

.py-1 {
  padding: 8px 0px; }

.py-2 {
  padding: 16px 0px; }

.py-3 {
  padding: 12px 0px; }

.p1 {
  padding: 8px 8px; }

.px-4 {
  padding: 0px 16px; }

.px-5 {
  padding: 0px 24px; }

.px-8 {
  padding: 0px 32px; }

.pl-1 {
  padding-left: 16px; }

.pl-5 {
  padding-left: 22px; }

.pl-8 {
  padding-left: 32px; }

.gapX-3 {
  gap: 0px 24px; }

.w30 {
  width: 30%; }

.w50 {
  width: 50%; }

.w60 {
  width: 66%; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

/* 圖片取代文字技巧 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* mac, IOS 系統字體 Windows 英文系統字  微軟正黑體 Android 系統字  IOS 系統字  通用字體 */
  /* sans-serif 全部通用買保險用   */
  font-size: 20px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.font-xs {
  font-size: 16px;
  line-height: 24px; }

.font-s {
  font-size: 36px;
  line-height: 54px; }

.font-m {
  font-size: 48px;
  line-height: 72px; }

.font-l {
  font-size: 64px;
  line-height: 96px; }

.font-bold {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mt-1 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 80px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 80px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-9 {
  margin-bottom: 72px; }

.mr-6 {
  margin-right: 48px; }

.mr-2 {
  margin-right: 16px; }

.mr-1 {
  margin-right: 8px; }

.mx-2 {
  margin: 0px 12px; }

.pb-10 {
  padding-bottom: 80px; }

.pt-6 {
  padding-top: 96px; }

.py-10 {
  padding: 160px 0px; }

.py-5 {
  padding: 80px 0px; }

.py-6 {
  padding: 48px 0px; }

.py-1 {
  padding: 8px 0px; }

.py-2 {
  padding: 16px 0px; }

.py-3 {
  padding: 12px 0px; }

.p1 {
  padding: 8px 8px; }

.px-4 {
  padding: 0px 16px; }

.px-5 {
  padding: 0px 24px; }

.px-8 {
  padding: 0px 32px; }

.pl-1 {
  padding-left: 16px; }

.pl-5 {
  padding-left: 22px; }

.pl-8 {
  padding-left: 32px; }

.gapX-3 {
  gap: 0px 24px; }

.w30 {
  width: 30%; }

.w50 {
  width: 50%; }

.w60 {
  width: 66%; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.Classification li {
  width: 100%;
  text-align: center; }
  .Classification li a {
    display: block;
    padding: 24px 0px;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    color: #000000;
    text-decoration: none;
    font-size: 32px;
    line-height: 48px; }
    .Classification li a:hover {
      border-bottom: 8px solid #AA0601; }
  .Classification li .active {
    border-bottom: 8px solid #AA0601; }

.seriesBanner .items img {
  display: block;
  width: 100%; }

.seriesProduct .products {
  gap: 80px 24px; }
  @media (max-width: 568px) {
    .seriesProduct .products {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .seriesProduct .products .product {
    font-size: 24px;
    line-height: 36px;
    width: 22%; }
    @media (max-width: 720px) {
      .seriesProduct .products .product {
        width: 45%; } }
    @media (max-width: 568px) {
      .seriesProduct .products .product {
        width: 90%; } }
    .seriesProduct .products .product span {
      color: #AA0601; }
    .seriesProduct .products .product .box1 {
      width: 24px;
      height: 24px;
      background-color: #5F3E2D;
      border-radius: 4px; }
    .seriesProduct .products .product .box2 {
      width: 24px;
      height: 24px;
      background-color: #B75929;
      border-radius: 4px; }

.pageNumber ul {
  max-width: 100%; }
  .pageNumber ul a {
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    color: #555555;
    border: 1px solid #555555; }
    .pageNumber ul a:hover {
      background-color: #DCDCDC;
      color: #555555; }
  .pageNumber ul .active {
    color: #fff;
    background-color: #000000; }

/* 圖片取代文字技巧 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* mac, IOS 系統字體 Windows 英文系統字  微軟正黑體 Android 系統字  IOS 系統字  通用字體 */
  /* sans-serif 全部通用買保險用   */
  font-size: 20px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.font-xs {
  font-size: 16px;
  line-height: 24px; }

.font-s {
  font-size: 36px;
  line-height: 54px; }

.font-m {
  font-size: 48px;
  line-height: 72px; }

.font-l {
  font-size: 64px;
  line-height: 96px; }

.font-bold {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mt-1 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 80px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 80px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-9 {
  margin-bottom: 72px; }

.mr-6 {
  margin-right: 48px; }

.mr-2 {
  margin-right: 16px; }

.mr-1 {
  margin-right: 8px; }

.mx-2 {
  margin: 0px 12px; }

.pb-10 {
  padding-bottom: 80px; }

.pt-6 {
  padding-top: 96px; }

.py-10 {
  padding: 160px 0px; }

.py-5 {
  padding: 80px 0px; }

.py-6 {
  padding: 48px 0px; }

.py-1 {
  padding: 8px 0px; }

.py-2 {
  padding: 16px 0px; }

.py-3 {
  padding: 12px 0px; }

.p1 {
  padding: 8px 8px; }

.px-4 {
  padding: 0px 16px; }

.px-5 {
  padding: 0px 24px; }

.px-8 {
  padding: 0px 32px; }

.pl-1 {
  padding-left: 16px; }

.pl-5 {
  padding-left: 22px; }

.pl-8 {
  padding-left: 32px; }

.gapX-3 {
  gap: 0px 24px; }

.w30 {
  width: 30%; }

.w50 {
  width: 50%; }

.w60 {
  width: 66%; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.sunglassProduct .products {
  gap: 80px 24px; }
  @media (max-width: 568px) {
    .sunglassProduct .products {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .sunglassProduct .products .product {
    font-size: 24px;
    line-height: 36px;
    width: 30%; }
    @media (max-width: 720px) {
      .sunglassProduct .products .product {
        width: 45%; } }
    @media (max-width: 568px) {
      .sunglassProduct .products .product {
        width: 90%; } }
    .sunglassProduct .products .product span {
      color: #AA0601; }
    .sunglassProduct .products .product .box1 {
      width: 24px;
      height: 24px;
      background-color: #5F3E2D;
      border-radius: 4px; }
    .sunglassProduct .products .product .box2 {
      width: 24px;
      height: 24px;
      background-color: #B75929;
      border-radius: 4px; }

/* 圖片取代文字技巧 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* mac, IOS 系統字體 Windows 英文系統字  微軟正黑體 Android 系統字  IOS 系統字  通用字體 */
  /* sans-serif 全部通用買保險用   */
  font-size: 20px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.font-xs {
  font-size: 16px;
  line-height: 24px; }

.font-s {
  font-size: 36px;
  line-height: 54px; }

.font-m {
  font-size: 48px;
  line-height: 72px; }

.font-l {
  font-size: 64px;
  line-height: 96px; }

.font-bold {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mt-1 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 80px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 80px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-9 {
  margin-bottom: 72px; }

.mr-6 {
  margin-right: 48px; }

.mr-2 {
  margin-right: 16px; }

.mr-1 {
  margin-right: 8px; }

.mx-2 {
  margin: 0px 12px; }

.pb-10 {
  padding-bottom: 80px; }

.pt-6 {
  padding-top: 96px; }

.py-10 {
  padding: 160px 0px; }

.py-5 {
  padding: 80px 0px; }

.py-6 {
  padding: 48px 0px; }

.py-1 {
  padding: 8px 0px; }

.py-2 {
  padding: 16px 0px; }

.py-3 {
  padding: 12px 0px; }

.p1 {
  padding: 8px 8px; }

.px-4 {
  padding: 0px 16px; }

.px-5 {
  padding: 0px 24px; }

.px-8 {
  padding: 0px 32px; }

.pl-1 {
  padding-left: 16px; }

.pl-5 {
  padding-left: 22px; }

.pl-8 {
  padding-left: 32px; }

.gapX-3 {
  gap: 0px 24px; }

.w30 {
  width: 30%; }

.w50 {
  width: 50%; }

.w60 {
  width: 66%; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.place h1 {
  border-left: 8px solid #AA0601; }

.place .choose {
  max-width: 50%; }
  @media (max-width: 720px) {
    .place .choose {
      max-width: 70%; } }
  @media (max-width: 568px) {
    .place .choose {
      max-width: 100%; } }
  .place .choose h3 {
    font-size: 22px;
    line-height: 36px; }
  .place .choose select {
    font-size: 18px;
    line-height: 26px;
    width: 73%; }

.areas .container {
  gap: 48px 24px; }
  @media (max-width: 720px) {
    .areas .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media (max-width: 568px) {
    .areas .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .areas .container .area {
    max-width: 30%;
    border: 1px solid #00000020; }
    @media (max-width: 720px) {
      .areas .container .area {
        max-width: 45%; } }
    @media (max-width: 568px) {
      .areas .container .area {
        max-width: 90%; } }
    .areas .container .area h2 {
      padding: 8px 24px;
      border-bottom: 1px solid #00000020;
      font-size: 24px;
      line-height: 1.5; }
    .areas .container .area .content {
      padding: 0px 24px;
      font-size: 20px;
      line-height: 1.5; }
      .areas .container .area .content span {
        margin-right: 11px; }
    .areas .container .area a {
      padding: 16px 0;
      display: block;
      width: 100%;
      text-decoration: none;
      background-color: #000000;
      color: #FbF2F2; }

.container {
  max-width: 1320px;
  padding: 0px 12px;
  margin: 0 auto; }

.header {
  width: 100%;
  background-color: #AA0601; }
  .header a {
    text-decoration: none;
    color: #FbF2F2; }
  .header h1 a {
    display: block;
    width: 80px;
    height: 48px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    background-position: center;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }

.mobilContactInfo, .media {
  display: none; }

.banner {
  height: 787px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover; }

.btn {
  text-decoration: none;
  padding: 10px;
  background-color: #AA0601;
  color: #fff; }

.introduction {
  /* max-width: 100%; */
  background-color: #FbF2F2; }
  .introduction .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .introduction .item {
    width: 22%; }
    @media (max-width: 720px) {
      .introduction .item {
        width: 45%; } }
    @media (max-width: 568px) {
      .introduction .item {
        width: 90%; } }

.classic-font {
  font-family: Roboto;
  font-size: 48px;
  line-height: 54px;
  color: #AA0601;
  font-style: italic;
  font-weight: bold; }

@media (max-width: 720px) {
  .classic .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px 0px; } }

.classic .items .item {
  width: 30%; }
  @media (max-width: 720px) {
    .classic .items .item {
      width: 80%; } }

.word-wrap {
  word-wrap: break-word;
  word-break: break-all; }

.jointName {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-position: center;
  background-size: cover; }
  .jointName h3 {
    background-color: #fff; }
  @media (max-width: 720px) {
    .jointName .items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 24px; } }
  .jointName .item {
    width: 50%; }
    @media (max-width: 720px) {
      .jointName .item {
        width: 100%; } }
    .jointName .item img {
      width: 100%;
      height: 70%; }

.recommend .cards {
  gap: 24px;
  padding: 0px 12px; }
  .recommend .cards .card {
    width: 22%; }
    @media (max-width: 720px) {
      .recommend .cards .card {
        width: 45%; } }
    @media (max-width: 568px) {
      .recommend .cards .card {
        width: 100%; } }

.card-content {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact {
  background-color: #FbF2F2; }
  @media (max-width: 720px) {
    .contact .container {
      width: 80%; } }
  @media (max-width: 568px) {
    .contact .container {
      width: 100%; } }
  @media (max-width: 568px) {
    .contact .container .btn {
      width: 100%; } }

@media (max-width: 568px) {
  .mobile, .mobilContactInfo {
    display: block; } }

.contactInfo {
  padding-bottom: 32px;
  border-bottom: 1px solid #fff; }
  @media (max-width: 720px) {
    .contactInfo h3 {
      font-size: 16px;
      line-height: 24px; } }

.mobilContactInfo {
  display: none; }

.footer {
  background-color: #AA0601; }
  .footer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.7rem; }
    @media (max-width: 720px) {
      .footer a {
        font-size: 14px;
        line-height: 21px; } }
  .footer .nav .media a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.font-light {
  color: #FbF2F2; }

/*# sourceMappingURL=all.css.map */
